<h1>Currency Converter</h1>



<form action="/Converter" method="POST" role="form" >
	<select name="well">
		<option value="buy">Buy</option>
		<option value="sell">Sell</option>
	</select>
	<br />
	<br />
	USD:<input type="integer" name="usd">
	<br />
	<br />
	<!-- BRB:<input type="integer" name="brb">
	<br />
	<br /> -->

	 <button type="submit" class="btn btn-primary">button</button>
</form> 
