<h1>Currency Converter</h1>



<form action="/Converter" method="POST" role="form" >
	<select name="well">
		<label>Choose color</label>
		<option value="buy">Buy</option>
		<option value="sell">Sell</option>
	</select>
	<br />
	<br />
	USD:<input type="integer" name="usd" value="<%=@d%>">
	<br />
	<br />
	<div>
		<%=@n%>
	</div>
	<!-- BRB:<input type="integer" name="brb" value="<%=@b%>"> -->
	
	<br />
	<br /> 

	 <button type="submit" class="btn btn-primary">button</button>
</form> 

