<h1>Currency Converter</h1>
<p>Fill out the form before starting </p>


<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">login</label>
    <input type="login" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>